{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="container">
      <div class="row">
        <div class="center-align">
            <hr class="hr-text" style="margin:auto"> <!-- inline CSS styling-->
            <h3 class="">Shopping Bag</h3>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col s12">
          {% if bag_items %}
            <div class="responsive-table striped">
              <table>
                <thead>
                  <tr>
                    <th scope="col">Product Info</th>
                    <th scope="col"></th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                  </tr>
                </thead>

                {% for item in bag_items %}
                  <tr>
                    <td>
                      <img src="{{ item.product.image.url }}" alt="" class="circle responsive-img bag-img">
                    </td>
                    <td>
                      <p><strong>{{ item.product.card_name }}</strong></p>
                      <p>SKU: {{ item.product.sku|upper }}</p>
                    </td>
                    <td>
                      <p>€{{ item.product.price }}</p>
                    <td>
                      <form class="update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                        {% csrf_token %}
                        <div class="input-field col s9 m6 l4 xl3">
                          <div class="quantity">
                            <div class="btn-controls hide-on-med-and-up">
                                <button id="increment_qty_{{ product.id }}" class="increment-qty" type="button" name="button">
                                    <i class="fas fa-chevron-up" aria-hidden="true"></i>
                                </button> 
                                <button id="decrement_qty_{{ product.id }}" class="decrement-qty" type="button" name="button">
                                    <i class="fas fa-chevron-down"></i>
                                </button>
                            </div>
                            <div class="input-field">
                                <input id="id_qty_{{ product.id }}" name="quantity" type="number" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ product.id }}" class="browser-default validate qty-input">
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="controls">
                        <a class="update-link"><small>Update</small></a> |
                        <a class="remove-item red-text" id="remove_{{ item.product.id }}"><small>Remove</small></a>
                      </div>
                    </td>
                    <td>
                      <p>€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    <td>
                  </tr>
                {% endfor %}
                <tr>
                  <td colspan="5" class="right-align">
                    <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                    <h6><strong>Delivery: €{{ delivery|floatformat:2 }}</strong></h6>
                    <h5><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h5>
                    {% if free_delivery_delta > 0 %}
                    <p>
                      If you spend an additional <strong>€{{ free_delivery_delta }}</strong> you could get free delivery!
                    </p>
                    {% endif %}
                    <div class="row">
                      <div class="col s12">
                        <a href="#" class="btn">
                          <span class="title">Secure Checkout</span>
                          <span class="icon prefix">
                            <i class="fas fa-lock"></i>
                          </span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="5">
                    <div class="row">
                      <div class="col s9">
                        <a href="{% url 'products' %}" class="btn">
                          <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                          </span>
                          <span class="title">Keep Shopping</span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          {% else %}
            <p>Your bag is empty.</p>
            <a href="{% url 'products' %}">
              <span class="icon">
                <i class="fas fa-chevron-left"></i>
              </span>
              <span class="title">Keep Shopping</span>
            </a>
            <div class="section">
              <div class="container">
                  <div class="row">
                      <div class="col"></div>
                  </div>
              </div>
          </div>
          <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                </div>
            </div>
          </div>
          <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                </div>
            </div>
          </div>
          <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                </div>
            </div>
          </div>
          {% endif %}
        </div>
    </div>
  </div>

  <!-- Scroll up button -->
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light deep-orange darken-1 scroll-button">
        <span class="icon">
            <i class="white-text fas fa-chevron-up"></i>
        </span>
    </a>
  </div>
{% endblock %}

{% block page_footer %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
  <script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
      var form = $('.update-form');
      form.submit();
    })
    // Remove item and reload and click
    $('.remove-item').click(function(e) {
          var csrfToken = "{{ csrf_token }}";
          var itemId = $(this).attr('id').split('remove_')[1]
          var url = `/bag/remove/${itemId}/`;
          var data = {
              'csrfmiddlewaretoken': csrfToken,
          }
          $.post(url, data)
          .done(function() {
              location.reload();
          });
      })

      // Controls for quantity
      $(document).ready(function() {
          buttonUp = $('.increment-qty')
          buttonDown = $('.decrement-qty')
          qtyInput = $('.qty-input')
          
          
          buttonUp.on('click', function() {
              oldVal = qtyInput.val();
              newVal = parseFloat(oldVal) + 1;
              qtyInput.val(newVal);
          });

          buttonDown.on('click', function() {
              oldVal = qtyInput.val();

              if (oldVal > 0) {
              newVal = parseFloat(oldVal) - 1;

              } else {

              newVal = 0;
              }

              qtyInput.val(newVal);
          });
      });
  </script>
{% endblock %}