{% extends "base.html" %}
{% load static %}


{% block page_header %}

{% endblock %}

{% block content %}
<div class="carousel carousel-slider carousel-hero center">
    <div class="carousel-fixed-item center">
      <a class="btn-large waves-effect white grey-text darken-text-2">button</a>
      <a class="btn-flat waves-effect transparent left left-controller">
        <i class="white-text fas fa-chevron-left"></i>
      </a>
      <a class="btn-flat waves-effect white transparent right right-controller">
        <i class="white-text fas fa-chevron-right"></i>
      </a>
    </div>
    <div class="carousel-item white-text carousel-hero-1 valign-wrapper" href="#one!">
        <div class="carousel-content">
            <h2>First Panel</h2>
            <p class="white-text">This is your first panel</p>
        </div>
    </div>
    <div class="carousel-item white-text carousel-hero-2 valign-wrapper" href="#two!">
        <div class="carousel-content">
            <h2>First Panel</h2>
            <p class="white-text">This is your first panel</p>
        </div>
    </div>
    <div class="carousel-item white-text carousel-hero-3 valign-wrapper" href="#three!">
        <div class="carousel-content">
            <h2>First Panel</h2>
            <p class="white-text">This is your first panel</p>
        </div>
    </div>
    <div class="carousel-item white-text carousel-hero-4 valign-wrapper" href="#four!">
        <div class="carousel-content">
            <h2>First Panel</h2>
            <p class="white-text">This is your first panel</p>
        </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.carousel.carousel-slider').carousel({
      fullWidth: true,
      indicators: true,
   });
   // move next carousel
   $('.right-controller').click(function(e){
      e.preventDefault();
      e.stopPropagation();
      $('.carousel').carousel('next');
   });
   // move prev carousel
   $('.left-controller').click(function(e){
      e.preventDefault();
      e.stopPropagation();
      $('.carousel').carousel('prev');
   });
    // auto play function
    setTimeout(autoplay, 10000)
    function autoplay() {
    $('.carousel').carousel('next');
}
</script>
{% endblock %}