{% extends "base.html" %}
{% load static %}


{% block page_header %}

{% endblock %}

{% block content %}
<div class="carousel carousel-slider carousel-hero center">
    <div class="carousel-fixed-item center">
      <a class="btn-flat waves-effect transparent left left-controller">
        <i class="white-text fas fa-chevron-left"></i>
      </a>
      <a class="btn-flat waves-effect white transparent right right-controller">
        <i class="white-text fas fa-chevron-right"></i>
      </a>
    </div>
    <div class="carousel-item white-text carousel-hero-1 valign-wrapper" href="#one!">
        <div class="carousel-content">
            <h2 class="white-text">Coffee Beans</h2>
            <a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Shop now</a>
        </div>
    </div>
    <div class="carousel-item white-text carousel-hero-3 valign-wrapper" href="#three!">
        <div class="carousel-content">
            <h2>Brewing Equipment</h2>
            <a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Shop now</a>
        </div>
    </div>
    <div class="carousel-item white-text carousel-hero-2 valign-wrapper" href="#two!">
        <div class="carousel-content">
            <h2>Acessories</h2>
            <a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Shop now</a>
        </div>
    </div>
    <div class="carousel-item white-text carousel-hero-4 valign-wrapper" href="#four!">
        <div class="carousel-content">
            <h2>Memberships</h2>
            <a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Shop now</a>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <div class="container">
        <div class="row hide-on-med-and-up">
            <div class="col s12">
                <div class="image-card-sml">
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="col s6 offset-s3">
                        <div class="container about-card-sml">
                            <hr class="hr-text">
                            <h5 class="black-text">Make coffee your way.</h5>
                            <p>We believe great coffee is made with love and care from the comfort of your home.</p>
                            <a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Discover</a>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
        <div class="row hide-on-small-only">
            <div class="col s6">
                <div class="image-card"></div>   
            </div>
            <div class="col s6">
                <div class="container about-card">
                    <hr class="hr-text">
                    <h5 class="black-text">Make coffee your way.</h5>
                    <p>We believe great coffee is made with love and care from the comfort of your home.</p>
                    <a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Discover</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.carousel.carousel-slider').carousel({
      fullWidth: true,
      indicators: true,
   });
   // move next carousel
   $('.right-controller').click(function(e){
      e.preventDefault();
      e.stopPropagation();
      $('.carousel').carousel('next');
   });
   // move prev carousel
   $('.left-controller').click(function(e){
      e.preventDefault();
      e.stopPropagation();
      $('.carousel').carousel('prev');
   });
    // auto play function
    setTimeout(autoplay, 10000)
    function autoplay() {
    $('.carousel').carousel('next');
}
</script>
{% endblock %}