{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="carousel carousel-slider carousel-hero center">
    <div class="carousel-fixed-item center">
      <a class="btn-flat waves-effect transparent left left-controller">
        <i class="white-text fas fa-chevron-left"></i>
      </a>
      <a class="btn-flat waves-effect white transparent right right-controller">
        <i class="white-text fas fa-chevron-right"></i>
      </a>
    </div>
    <div class="carousel-item white-text carousel-hero-1 valign-wrapper" href="#one!">
        <div class="carousel-content">
            <h2 class="white-text">Coffee Beans</h2>
            <a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Shop now</a>
        </div>
    </div>
    <div class="carousel-item white-text carousel-hero-3 valign-wrapper" href="#three!">
        <div class="carousel-content">
            <h2>Brewing Equipment</h2>
            <a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Shop now</a>
        </div>
    </div>
    <div class="carousel-item white-text carousel-hero-2 valign-wrapper" href="#two!">
        <div class="carousel-content">
            <h2>Acessories</h2>
            <a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Shop now</a>
        </div>
    </div>
    <div class="carousel-item white-text carousel-hero-4 valign-wrapper" href="#four!">
        <div class="carousel-content">
            <h2>Memberships</h2>
            <a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Shop now</a>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <div class="container">
        <div class="row hide-on-med-and-up">
            <div class="col s12">
                <div class="image-card-sml">
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="col s6 offset-s3">
                        <div class="container about-card-sml">
                            <hr class="hr-text">
                            <h5 class="black-text">Make coffee your way.</h5>
                            <p>We believe great coffee starts at the source, where nature is treated with care and love.</p>
                            <a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Discover</a>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
        <div class="row hide-on-small-only">
            <div class="col s6">
                <div class="image-card"></div>   
            </div>
            <div class="col s6">
                <div class="container about-card">
                    <hr class="hr-text">
                    <h5 class="black-text">Make coffee your way.</h5>
                    <p>We believe great coffee starts at the source, where nature is treated with care and love.</p>
                    <a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Discover</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="section img-overlay-back">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card img-overlay-front">
                    <div class="card-content white-text center-align">
                        <hr class="hr-overlay">
                        <span class="overlay-title">Fresh Produce</span>
                        <p>We only with work with the best South American producers, who use organic and traditional methods to grow their plants.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Side-to-side overlay -->
<div class="row">
    <div class="col s12 m6 floating-img-overlay-1">
        <div class="card img-overlay-front">
            <div class="card-content white-text center-align">
                <hr class="hr-overlay">
                <span class="overlay-title">Traditional methods</span>
                <div class="icon-wrapper">
                    <span class="icon">
                        <i class="fas fa-seedling fa-2x"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 floating-img-overlay-2">
        <div class="card img-overlay-front">
            <div class="card-content white-text center-align">
                <hr class="hr-overlay">
                <span class="overlay-title">Passion for nature</span>
                <div class="icon-wrapper">
                    <span class="icon">
                        <i class="fab fa-envira fa-2x"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="media/coffee-break.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 center-align">Piratini Memberships<span class="icon right"><i class="fas fa-ellipsis-v"></i></span></span>
                        <p class="center-align"><a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Join the club</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><span class="icon right"><i class="far fa-window-close"></i></span>
                        <p class="flow-text">Want to receive great coffee at your doorstep? With our membership, you get three different coffees at month, specially cured by YOU! Being a member of our club, 
                            you get to participate on our cupping sessions to decide which producer to support!</p>
                        <div class="center-align">
                            <span class="icon">
                                <a class="btn-large waves-effect white white-text darken-text-2 deep-orange darken-1 title shop-now">Join the club</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scroll up button -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light deep-orange darken-1 scroll-button">
        <span class="icon">
            <i class="white-text fas fa-chevron-up"></i>
        </span>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.carousel.carousel-slider').carousel({
      fullWidth: true,
      indicators: true,
   });
   // move next carousel
   $('.right-controller').click(function(e){
      e.preventDefault();
      e.stopPropagation();
      $('.carousel').carousel('next');
   });
   // move prev carousel
   $('.left-controller').click(function(e){
      e.preventDefault();
      e.stopPropagation();
      $('.carousel').carousel('prev');
   });
    // auto play function
    setTimeout(autoplay, 10000)
    function autoplay() {
    $('.carousel').carousel('next');

    // Scroll button
    $(document).ready(function(){
        $('.scroll-button').click(function(){
            $('html, body').animate({
                scrollTop:0
            }, "slow");
            return false;
        })
    })    
        
}
</script>
{% endblock %}