{% extends "base.html" %}
{% load static %}
{% load materializecss %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}

  <div class="container">
      <div class="row">
        <div class="center-align">
            <hr class="hr-text" style="margin:auto"> <!-- inline CSS styling-->
            <h3 class="">My Profile</h3>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col s12 m6 l4">
          <ul class="collapsible collapsible-menu" data-collapsible="accordion">
            <li>
              <div class="collapsible-header active transparent">
                  <div class="col s12">
                    <h5 class="center">Information</h5>
                      <span class="icon right">
                          <i class="fas fa-caret-down"></i>
                      </span>
                  </div>
              </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12">
                          <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                            {% csrf_token %}
                            {{ form|materializecss }}
                            <div class="btn-wrapper center">
                              <button class="btn waves-effect waves-light" type="submit" name="action">Update
                                <i class="white-text fas fa-paper-plane"></i>
                              </button>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
      </div>
      <div class="row">
        <div class="divider"></div>
        <div class="col s12 m6 l4 order-history">
          <ul class="collapsible collapsible-menu" data-collapsible="accordion">
              <li>
                <div class="collapsible-header active transparent">
                  <div class="col s12">
                    <h5 class="center">Order History</h5>
                      <span class="icon right">
                          <i class="fas fa-caret-down"></i>
                      </span>
                  </div>
                </div>
                  <div class="collapsible-body">
                      <div class="row">
                          <div class="col s12">
                            <table>
                              <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                    <th>Order total</th>
                                </tr>
                              </thead>
                      
                              <tbody>
                                {% for order in orders %}
                                <tr>
                                  <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                      title="{{ order.order_number }}">
                                      {{ order.order_number|truncatechars:6 }}
                                    </a>
                                  </td>
                                  <td>{{ order.date }}</td>
                                  <td>
                                    <ul class="collection">
                                      {% for item in order.lineitems.all %}
                                        <li><span>{{ item.product.name }} x{{ item.quantity }}</span></li>
                                      {% endfor %}
                                    </ul>
                                  </td>
                                  <td>${{ order.grand_total }}</td>
                                </tr>
                              </tbody>
                              {% endfor %}
                            </table>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="divider"></div>
        <div class="col s12 m6 l4 order-history">
          <ul class="collapsible collapsible-menu" data-collapsible="accordion">
              <li>
                <div class="collapsible-header active transparent">
                  <div class="col s12">
                    <h5 class="center">Wish List</h5>
                      <span class="icon right">
                          <i class="fas fa-caret-down"></i>
                      </span>
                  </div>
                </div>
                <div class="collapsible-body">
                  {% if wish_list %}
                    <div class="responsive-table striped">
                      <table>
                          <thead>
                            <tr>
                              <th scope="col">Product Info</th>
                              <th scope="col"></th>
                              <th scope="col">Collection</th>
                              <th scope="col">Price</th>
                            </tr>
                          </thead>
                          {% for product in wish_list.products.all %}
                            <tr>
                              <td>
                                <a href="{% url 'product_detail' product.id %}">
                                  {% if product.image %}
                                      <img src="{{ product.image.url }}" alt="" class="circle responsive-img bag-img">
                                  {% else %}
                                      <img src="{{ MEDIA_URL }}noimage.png" alt="" class="circle responsive-img bag-img">
                                  {% endif %}
                                </a>
                              </td>
                              <td>
                                <p><strong>{{ product.card_name }}</strong></p>
                                <p>SKU: {{ product.sku|upper }}</p>
                              </td>
                              <td>
                                <a href="{% url 'products' %}?collection={{ product.collection.name }}">
                                  {{ product.collection.friendly_name }}
                                </a>
                              </td>
                              <td>€{{ product.price }}</td>
                            </tr>
                          {% endfor %}
                      </table>
                    </div>
                  {% endif %}
                </div>
              </li>
          </ul>
        </div>
      </div>
      <div class="divider"></div>
    </div>
  <!-- Scroll up button -->
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light deep-orange darken-1 scroll-button">
        <span class="icon">
            <i class="white-text fas fa-chevron-up"></i>
        </span>
    </a>
  </div>
{% endblock %}

{% block page_footer %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}
