{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% load materializecss %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}

  <div class="container">
      <div class="row">
        <div class="center-align">
            <hr class="hr-text" style="margin:auto"> <!-- inline CSS styling-->
            <h3 class="">Checkout</h3>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
            <div class="col s12 l6">
                <p class="title center-align">
                    <strong>Order Summary ({{ product_count }})</strong>
                </p>
                <div class="row">
                    <div class="col s7">
                        <p class="title">
                            <strong>Item</strong>
                        </p>
                    </div>
                    <div class="col s3 right">
                        <p class="title">
                            <strong>Subtotal</strong>
                        </p>
                    </div>
                </div>
                {% for item in bag_items %}
                    <div class="row">
                        <div class="divider"></div>
                        <div class="col s2">
                            <a href="{% url 'product_detail' item.product.id %}">
                                {% if item.product.image %}
                                    <img src="{{ item.product.image.url }}" alt="" class="circle responsive-img bag-img">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="" class="circle responsive-img bag-img">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col s7">
                            <p class="title">
                                <strong>{{ item.product.name }}</strong>
                                <p>Qty: {{ item.quantity }}</p>
                            </p>
                        </div>
                        <div class="col s3">
                            <p>${{ item.product.price|calc_subtotal:item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="divider"></div>
                <div class="row">
                    <div class="col s7">
                        <p class="title">Order Total:</p>
                        <p class="title">Delivery:</p>
                        <p class="title">Grand Total:</p>
                    </div>
                    <div class="col s3 right">
                        <p>${{ total|floatformat:2 }}</p>
                        <p>${{ delivery|floatformat:2 }}</p>
                        <p><strong>${{ grand_total|floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
            <div class="col s12 l6 payment-form-wrapper">
                <p class="title center-align">Please fill out the form below to complete your order</p>
                <div class="card">
                    <form action="{% url 'checkout' %}" method="POST" id="payment-form" class="col s12">
                        {% csrf_token %}
                        <div class="row">
                            <fieldset>
                                <legend>Details</legend>
                                {{ order_form_mat.full_name|materializecss }}
                                {{ order_form_mat.email|materializecss }}
                            </fieldset>
                            <fieldset>
                                <legend>Delivery</legend>
                                {{ order_form_mat.phone_number|materializecss }}
                                {{ order_form_mat.country|materializecss }}
                                {{ order_form_mat.postcode|materializecss }}
                                {{ order_form_mat.town_or_city|materializecss }}
                                {{ order_form_mat.street_address1|materializecss }}
                                {{ order_form_mat.street_address2|materializecss }}
                                {{ order_form_mat.county|materializecss }}
                            </fieldset>
                            <div class="row">
                                <div class="col s12">
                                    {% if user.is_authenticated %}
                                    <div class="input-field inline">
                                        <p>
                                            <label>
                                                <input type="checkbox" class="filled-in" checked="checked" name="save-info" id="id-save-info">
                                                <span>Save this delivery infromation to my profile</span>
                                            </label>
                                        </p>
                                    </div>
                                    {% else %}
                                        <a href="">Creat an account</a> or
                                        <a href="">login</a> to save this information.
                                    {% endif %}
                                </div>
                            </div>
                            <fieldset>
                                <legend>Payment</legend>
                                <!-- A Stripe card element will go here -->
                                <div id="card-element">
                                </div>
                                <!-- Used to display form errors -->
                                <div class="red-text" id="card-errors"></div>
                            </fieldset>
                            <div class="col s12">
                                <p class="small">
                                    <span class="icon">
                                        <i class="fas fa-exclamation-circle red-text"></i>
                                    </span>
                                    <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light right" type="submit" name="submit-button" id="submit-button">Complete Order
                                    <i class="white-text fas fa-lock"></i>
                                </button>
                                <a href="{% url 'view_bag' %}" class="btn">
                                    <span class="icon">
                                      <i class="fas fa-chevron-left white-text"></i>
                                    </span>
                                    <span class="title">Adjust Bag</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  </div>
  <div id="loading-overlay">
      <h1 class="blue-text light-blue lighten-5 title loading-spinner">
        <div class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </div>
      </h1>
  </div>
  <!-- Scroll up button -->
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light deep-orange darken-1 scroll-button">
        <span class="icon">
            <i class="white-text fas fa-chevron-up"></i>
        </span>
    </a>
  </div>
{% endblock %}

{% block page_footer %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{block.super}}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}