
/* Acessories */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5 rem;
    width: 1.5 rem;
    color: #f4511e;
}

.social {
    padding-top: 10px;
}

/* Typography */

.title {
    text-transform: uppercase;
}

/* Body */

body {
    background-color: #EAE7E0;
}

/* Navbar Elements */
.navbar-fixed {
    position: absolute;
    z-index:999999999;
}

.mobile-menu {
    max-width: 250px;
    background-color: rgba(0,0,0,0.25);
}

.sidenav-item {
    color: white !important;
}

.search-form-wrapper {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 15px;
}
.search-form-wrapper.open {
    display: block;
}

.btn-wrapper {
    padding-left: 0;
    padding-top: 1.5rem;
}


/* Carousel */

.carousel-hero {
    height: 70vh;
}

.carousel-hero-1 {
    background-image: url(../../media/hand-full-of-roasted-coffee.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.carousel-hero-2 {
    background-image: url(../../media/camping-kettle-and-coffee-cup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.carousel-hero-3 {
    background-image: url(../../media/barista-pour-over-coffee-from-copper-kettle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.carousel-hero-4 {
    background-image: url(../../media/making-coffee.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.carousel-content {
    margin: auto;
}

.carousel-content h2 {
    color: whitesmoke;
    font-size: 40px !important;
}

.shop-now {
    margin-top: 25px;
}

/* Card section */

.image-card-sml {
    background-image: url(../../media/coffee-beans.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-card {
    background-image: url(../../media/coffee-beans.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.about-card {
    margin: auto;
    margin-top: 8rem;
}

.about-card-sml {
    margin-top: 5rem;
    display: block;
}

.hr-text {
    border: 2px solid red;
    max-width: 60px;
    margin-left: 1px;
}

/* Footer */

.page-footer {
    background-color: #d7ccc8;
}

.mobile-form {
    padding-left: 60px;
}

/* -- Media Queries -- */

/* Container on XL screens */
@media (min-width:1200px) {
    .container {
        max-width:80%;
    }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index:1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

