.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5 rem;
    width: 1.5 rem;
}

text {
color: white;
}

/* Body */

body {
    background-color:#555;
}

/* Navbar */
.navbar-fixed {
    position: absolute;
    z-index:999999999;
}

.search-form-wrapper {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 15px;
}
.search-form-wrapper.open {
    display: block;
}
/* -- Media Queries -- */

/* Container on XL screens */
@media (min-width:1200px) {
    .container {
        max-width:80%;
    }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index:1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

