
/* Acessories */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5 rem;
    width: 1.5 rem;
}

.social {
    padding-top: 10px;
}

/* Typography */

.title {
    text-transform: uppercase;
}

/* Body */

body {
    background-color:#555;
}

/* Navbar Elements */
.navbar-fixed {
    position: absolute;
    z-index:999999999;
}

.mobile-menu {
    max-width: 250px;
    background-color: rgba(0,0,0,0.25);
}

.sidenav-item {
    color: white !important;
}

.search-form-wrapper {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 15px;
}
.search-form-wrapper.open {
    display: block;
}

.btn-wrapper {
    padding-left: 0;
    padding-top: 1.5rem;
}

/* Footer */

.page-footer {
    background-color: #EAE7E0;
}

.btn-footer {
    color: #FAF9F6 !important;
}

.mobile-form {
    padding-left: 60px;
}

/* -- Media Queries -- */

/* Container on XL screens */
@media (min-width:1200px) {
    .container {
        max-width:80%;
    }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index:1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

