{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name='description' content="Piratini Coffee Roasters and Co.">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    <!-- Favicon -->
    <link rel="icon" href="https://ci-ms4-piratini-co.s3.eu-west-1.amazonaws.com/media/favicon.png" type="image/x-icon">
    <!-- Favicon -->

    {% block extra_css %}
    {% endblock %}


    {% block corejs %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="{% static 'js/core.js' %}"></script>
      <!-- Stripe -->
      <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}


    {% block extra_js %}
    {% endblock %}


    <title>Piratini Coffee Roasters</title>
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav class="transparent z-depth-0">
        <div class="nav-wrapper">
          <a data-target="mobile-nav" class="right sidenav-trigger" aria-label="Menu">
            <span class="icon right">
              <i class="fas fa-ellipsis-v"></i>
            </span>
          </a>
          <a href="{% url 'home' %}" class="brand-logo left" aria-label="Home Page">
            <div id="logo-image" class="logo-img-wrapper">
            </div>
          </a>
          <ul class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="user_dropdown"><span class="icon"><i class="fas fa-user fa-lg"></i></span></a></li>
            <li><a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} dropdown-trigger-bag" href="#!" data-target="bag_dropdown"><span class="icon"><i class="fas fa-shopping-bag fa-lg"></i></span></a></li>
            <li class="search-form" id='open-search'><a><span class="icon"><i class="fas fa-search"></i></span></a></li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Mobile Sidenav -->
    <ul class="sidenav mobile-menu" id="mobile-nav">
      {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
          <li><a class="sidenav-item" href="{% url 'add_product' %}" class="dropdown-item">Store Management</a></li>
        {% endif %}
      <li><a class="sidenav-item" href="{% url 'profile' %}">My Profile</a></li>
      <li><a class="sidenav-item" href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
      <li><a class="sidenav-item" href="{% url 'account_signup' %}">Register</a></li>
      <li><a class="sidenav-item" href="{% url 'account_login' %}">Login</a></li>
    {% endif %}
      <li><a class="sidenav-item" href="{% url 'view_bag' %}">My Bag</a></li>
      <li><a class="sidenav-item" href="{% url 'products' %}">All Products</a></li>
      <li><a class="sidenav-item modal-trigger" href="#search_modal">Find a Product</a></li>
      <li><a class="sidenav-item" href="{% url 'about' %}">About us</a></li>
      <li><a class="sidenav-close sidenav-item">Close Menu</a></li>
    </ul>
    <!-- Search form structure -->
    <div class="search-form-wrapper">
      <form class="search-form-wrapper" action="{% url 'products' %}" method="GET">
        <div class="container">
          <a class="icon" id="close-search-form">
            <i class="fas fa-times-circle"></i>
          </a>
          <div class="row">
            <div class="input-field inline col s3">
              <input name="search" type="text" class="validate white-text" placeholder="Search">
              <span class="icon prefix">
                <button class="btn-floating waves-effect waves-light transparent" type="submit" name="action" aria-label="Search Item">
                    <i class="fas fa-search search-icon"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Search form modal -->
    <div id="search_modal" class="modal">
      <div class="modal-content">
        <h4 class="text-title">Find a Product</h4>
        <form class="mobile-search-form-wrapper" action="{% url 'products' %}" method="GET">
          <div class="container">
            <div class="row">
              <div class="input-field inline col">
                <input name="search" type="text" class="validate" placeholder="Search">
                <span class="icon prefix">
                  <button class="btn-floating waves-effect waves-light transparent" type="submit" name="action" aria-label="Search Item">
                    <i class="black-text fas fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!-- User Dropdown Structure -->
    <ul id="user_dropdown" class="dropdown-content black-text">
      {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
          <li class="dropdown-item"><a href="{% url 'add_product' %}">Store</a></li>
        {% endif %}
        <li class="dropdown-item"><a href="{% url 'profile' %}">My Profile</a></li>
        <li class="dropdown-item"><a href="{% url 'account_logout' %}">Logout</a></li>
      {% else %}
        <li class="dropdown-item"><a href="{% url 'account_signup' %}">Register</a></li>
        <li class="dropdown-item"><a href="{% url 'account_login' %}">Login</a></li>
      {% endif %}
    </ul>
    <!-- Bag Dropdown Structure -->
    <ul id="bag_dropdown" class="dropdown-content">
      <li class="dropdown-item">
        <a href="{% url 'view_bag' %}">
          <div class="center-align">
            <p>
              {% if grand_total %}
                Bag
                €{{ grand_total|floatformat:2 }}
              {% else %}
                View bag
              {% endif %}
            </p>
          </div>
        </a>
        {% if grand_total %}
          <a href="{% url 'checkout' %}">Checkout</a>
        {% endif %}
      </li>
    </ul>
    <!-- Messages -->
    {% if messages %}
        <div class="message-container">
          {% for message in messages %}
            {% with message.level as level %}
              {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
              {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
              {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
              {% else %}
                {% include 'includes/toasts/toast_info.html' %}
              {% endif %}
            {% endwith %}
          {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block page_footer %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer">
      <div class="container footer-container hide-on-small-only">
        <div class="row">
          <div class="col l6 s12">
            <span class="black-text title center-align">Piratini Coffee Roasters Co.</span>
            <div class="logo-footer-wrapper">
            </div>
          </div>
          <div class="col l4 offset-l2 s12">
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <span class="black-text title" style="font-size: 1.17em; font-weight: bolder;">Sign up for updates</span>
                  <div class="input-field col s9">
                    <input id="email" type="email" class="validate" required>
                    <label class="black-text" for="email">Email</label>
                    <a class="btn-floating waves-effect red lighten-3 waves-light transparent modal-trigger" href="#modal_newsletter" aria-label="Signup Newsletter">
                      <i class="white-text fas fa-paper-plane"></i>
                    </a>
                  </div>
                </div>
              </form>
              <div id="modal_newsletter" class="modal">
                <div class="modal-content center">
                    <h5 class="title green-text darken-2">Thanks for registering!</h5>
                    <p class="black-text">You're now registered to receive news from us! As a thank you gift, <strong>HERE</strong> is a discount code you can use to purchase products: <span class="red-text">NEWS_USER</span></p>
                </div>
                <div class="modal-footer">
                    <div class="row center">
                        <a href="#!" class="modal-close waves-effect waves-green darken-2 btn center">Close</a>
                    </div>
                </div>
              </div>
            </div>          
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container black-text">
          © 2021 Copyrights - Vinnie Ordobas
          </div>
          <div class="card-action center-align icon-footer">
            <a href="https://vinumjournal.com/wp/" target="_blank" class="btn-floating btn waves-effect light-green darken-4 waves-light tooltipped" data-position="top" data-tooltip="Check my Portfolio here!" title="My Portfolio"><i class="fas fa-link fa-2x"></i></a>
            <a href="https://github.com/vinnieOrdobas" target="_blank" class="btn-floating btn waves-effect blue-grey darken-2 waves-light" title="GitHub"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/vinnie-ordobas/" target="_blank" class="btn-floating btn waves-effect light-blue darken-4 waves-light" title="LinkedIn"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="container footer-container hide-on-med-and-up">
        <div class="row">
          <div class="col s12 m6">
            <div class="card brown lighten-4">
              <div class="card-content white-text center-align">
                <span class="black-text title" style="font-size: 1.17em; font-weight: bolder;">Sign up for updates</span>
                <form class="mobile-search-form-wrapper" action="GET">
                  <div class="container">
                    <div class="row mobile-form">
                      <div class="input-field inline col s8 push-s2">
                        <input id="email-mobile" type="email" class="validate black-text" placeholder="Email">
                        <span class="icon prefix">
                          <a class="btn-floating waves-effect red lighten-3 waves-light transparent modal-trigger" href="#modal_newsletter_mobile" aria-label="Signup Newsletter">
                            <i class="white-text fas fa-paper-plane"></i>
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                </form>
                <div id="modal_newsletter_mobile" class="modal">
                  <div class="modal-content center">
                      <h5 class="title green-text darken-2">Thanks for registering!</h5>
                      <p class="black-text">You're now registered to receive news from us! As a thank you gift, <strong>HERE</strong> is a discount code you can use to purchase products: <span class="red-text">NEWS_USER</span></p>
                  </div>
                  <div class="modal-footer">
                      <div class="row center">
                          <a href="#!" class="modal-close waves-effect waves-green darken-2 btn center">Close</a>
                      </div>
                  </div>
                </div>
                <div class="brand">
                  <span class="black-text title">Piratini Coffee Roasters Co.</span>
                  <div class="logo-footer-wrapper-sml"></div>
                </div>
              </div>
              <div class="card-action">
                <div class="section black-text center-align">
                  © 2021 Copyrights - Vinnie Ordobas
                  <div class="center-align inline social">
                    <a href="https://vinumjournal.com/wp/" target="_blank" class="btn-floating btn waves-effect light-green darken-4 waves-light tooltipped" data-position="top" data-tooltip="Check my Portfolio here!" title="My Portfolio"><i class="fas fa-link fa-2x"></i></a>
                    <a href="https://github.com/vinnieOrdobas" target="_blank" class="btn-floating btn waves-effect blue-grey darken-2 waves-light" title="GitHub"><i class="fab fa-github fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/vinnie-ordobas/" target="_blank" class="btn-floating btn waves-effect light-blue darken-4 waves-light" title="LinkedIn"><i class="fab fa-linkedin fa-2x"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
