{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="section">
        <div class="container page-header">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="section about-section">
    <div class="container container-full-width">
        <div class="row">
            <div class="center-align">
                <hr class="hr-text" style="margin:auto"> <!-- inline CSS styling-->
                <h3 class="">Products</h3>
            </div>
        </div>
        <div class="row cards-container-sml hide-on-med-and-up">
            <div class="col s12">
                {% for product in products %}
                    <div class="card product-card">
                        <div class="card-image product-image">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                        <a class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="top" data-tooltip="Add to Wish List"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="card-content center-align">
                            <p class="product-name"><strong>{{ product.card_name }}</strong></p>
                            <p class="decimal">€{{ product.price }}</p>
                            <div class="chip">
                                Tag
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="card product-card">
                        <div class="card-image product-image">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                        <a class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="top" data-tooltip="Add to Wish List"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="card-content center-align">
                            <p class="product-name"><strong>{{ product.card_name }}</strong></p>
                            <p class="decimal">€{{ product.price }}</p>
                            <div class="chip">
                                Tag
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                {% endfor %}
            </div>
        </div>
        <div class="row hide-on-small-only">
            <div class="col s12">
                <div class="row">
                    {% for product in products %}
                        <div class="col m6 l4 xl3">
                            <div class="card product-card">
                                <div class="card-image product-image">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                    {% endif %}
                                <a class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="top" data-tooltip="Add to Wish List"><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="card-content center-align">
                                    <p class="product-name"><strong>{{ product.card_name }}</strong></p>
                                    <p class="decimal">€{{ product.price }}</p>
                                    <div class="chip">
                                        Tag
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Delete after use -->
                        <div class="divider"></div>
                        <div class="col m6 l4 xl3">
                            <div class="card product-card">
                                <div class="card-image product-image">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                    {% endif %}
                                <a class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="top" data-tooltip="Add to Wish List"><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="card-content center-align">
                                    <p class="product-name"><strong>{{ product.card_name }}</strong></p>
                                    <p>€{{ product.price }}</p>
                                    <div class="chip">
                                        Tag
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Scroll up button -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light deep-orange darken-1 scroll-button">
        <span class="icon">
            <i class="white-text fas fa-chevron-up"></i>
        </span>
    </a>
</div>
{% endblock %}


{% block page_footer %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
  $(document).ready(function(){
      $('.scroll-button').click(function(){
          $('html, body').animate({
              scrollTop:0
          }, "slow");
          return false;
      })
    })
</script>
{% endblock %}