{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="section">
        <div class="container page-header">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="section about-section">
    <div class="container container-full-width">
        <div class="row">
            <div class="center-align">
                <hr class="hr-text" style="margin:auto"> <!-- inline CSS styling-->
                <h3 class="">{{ product.collection.friendly_name }}</h3>
            </div>
            <div class="col s12">
                <div class="col s9 m6 l4 push-l4">
                    <ul class="collapsible collapsible-menu" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active transparent">
                                <div class="col s12">
                                    <strong>Collections</strong>
                                    <span class="icon right">
                                        <i class="fas fa-caret-down"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="collection">
                                            {% for collection in collections %}
                                                <a href="{% url 'products' %}?collection={{ collection.name }}" class="collection-item">{{ collection.friendly_name }}</a>
                                            {% endfor %}
                                            <a href="{% url 'products' %}?collection=coffee_beans,accessories,brewers,memberships,hand_grinders" class="collection-item">All Products</a>
                                        </div>      
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 cards-container">
                <div class="row">
                    <div class="col s12 m6 l4 offset-l2">
                        <div class="card">
                            <div class="card-image product-image">
                                {% if product.image %}
                                    <a href="{{ product.image.url }}" target="_blank">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="">
                                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                                <!-- Add to wish_list form -->
                                {% if request.user.is_authenticated %}
                                    <form action="{% url 'add_to_wish_list' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="top" data-tooltip="Add to Wish List" type="submit"><i class="fas fa-heart"></i></button>
                                        <input type="hidden" name="url" value="{{ request.path }}">
                                    </form>
                                {% else %}
                                    <a class="btn-floating halfway-fab waves-effect waves-light red tooltipped modal-trigger"
                                    data-position="top" data-tooltip="Add to Wish List" href="modal_wish_list{{ product }}">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                      <!-- Modal Structure -->
                                    <div id="modal_wish_list{{ product }}" class="modal">
                                        <div class="modal-content center">
                                            <h5 class="title green-text darken-2">oops!</h5>
                                            <a href="">Creat an account</a> or
                                            <a href="">login</a> to add {{ product.card_name }} to your wish list.
                                        </div>
                                        <div class="modal-footer">
                                            <div class="row center">
                                                <a href="#!" class="modal-close waves-effect waves-green darken-2 btn center">OK</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                </div>
                            <div class="card-action center-align">
                                <p class="product-name"><strong>{{ product.name }}</strong></p>
                                <span class="decimal"><strong>€{{ product.price }}</strong></span>
                            </div>
                            {% if product.collection %}
                                <div class="row">
                                    <div class="col s12">
                                        <div class="collection-output center-align">
                                            <a href="{% url 'products' %}?collection={{ product.collection.name }}" class="chip">
                                                <span class="icon">
                                                    <i class="fas fa-tag prefix"></i>
                                                </span>
                                                {{ product.collection.friendly_name }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <div class="center">
                                    <small>
                                        <a href="{% url 'edit_product' product.id %}">Edit | </a>
                                        <a href="{% url 'delete_product' product.id %}" class="red-text">Remove</a>
                                    </small>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <ul class="collapsible collapsible-menu" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header active transparent">
                                    <div class="col s12">
                                        <strong>Description</strong>
                                        <span class="icon right">
                                            <i class="fas fa-caret-down"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 m12">
                                          <div class="transparent">
                                            <span class="black-text">{{ product.description }}
                                            </span>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <form class="col s12 m6" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col s3 push-s5">
                                <span class="title">
                                    <strong>Quantity:</strong>
                                </span>
                                <div class="quantity">
                                    <div class="btn-controls hide-on-med-and-up">
                                        <button id="increment_qty_{{ item.item_id }}" class="increment-qty" data-item_id="{{ item.item_id }}" type="button" name="button">
                                            <i class="fas fa-chevron-up" aria-hidden="true"></i>
                                        </button> 
                                        <button id="decrement_qty_{{ item.item_id }}" class="decrement-qty" data-item_id="{{ item.item_id }}" type="button" name="button">
                                            <i class="fas fa-chevron-down"></i>
                                        </button>
                                    </div>
                                    <div class="input-field">
                                        <input id="id_qty_{{ item.item_id }}" name="quantity" type="number" value="1" min="1" max="99" data-item_id="{{ item.item_id }}" class="browser-default validate qty-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if product.membership %}
                            {% if request.user.is_authenticated %}
                                {% if user.membership %}
                                <div class="row center">
                                    <div class="col s12">
                                        <a class="btn waves-effect waves-light modal-trigger deep-orange darken-1"
                                        href="#modal_user_membership">Add to bag
                                            <i class="fas fa-shopping-bag"></i>
                                        </a>
                                        <div id="modal_user_membership" class="modal">
                                            <div class="modal-content center">
                                                <h5 class="title green-text darken-2">oops!</h5>
                                                <p>It seems like you already have a membership with us! Click <a href="{% url 'profile' %}">here</a> to see your membership details.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row center">
                                                    <a href="#!" class="modal-close waves-effect waves-green darken-2 btn center">OK</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="row center">
                                    <div class="col s12">
                                        <button class="btn waves-effect waves-light deep-orange darken-1" type="submit">Add to bag
                                            <i class="fas fa-shopping-bag"></i>
                                        </button>
                                    </div>
                                </div>
                                {% endif %}
                            {% else %}
                                <div class="row center">
                                    <div class="col s12">
                                        <a class="btn waves-effect waves-light modal-trigger deep-orange darken-1"
                                        href="#modal_membership_product">Add to bag
                                            <i class="fas fa-shopping-bag"></i>
                                        </a>
                                            <!-- Modal Structure -->
                                        <div id="modal_membership_product" class="modal">
                                            <div class="modal-content center">
                                                <h5 class="title green-text darken-2">oops!</h5>
                                                <a href="">Create an account</a> or
                                                <a href="">login</a> to register for a {{ product.card_name }}.
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row center">
                                                    <a href="#!" class="modal-close waves-effect waves-green darken-2 btn center">OK</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                        <div class="row center">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light deep-orange darken-1" type="submit">Add to bag
                                    <i class="fas fa-shopping-bag"></i>
                                </button>
                            </div>
                        </div>
                        {% endif %}
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <div class="row">
                            <div class="col s12">
                                <a href="{% url 'products' %}?collection=coffee_beans,accessories,brewers,memberships,hand_grinders" class="btn">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left white-text"></i>
                                    </span>
                                    <span class="title white-text">Keep Shopping</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Scroll up button -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light deep-orange darken-1 scroll-button">
        <span class="icon">
            <i class="white-text fas fa-chevron-up"></i>
        </span>
    </a>
</div>
{% endblock %}


{% block page_footer %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        buttonUp = $('.increment-qty')
        buttonDown = $('.decrement-qty')
        
        
        buttonUp.on('click', function() {
            qtyInput = $('.increment-qty').parent().next().children();
            oldVal = qtyInput.val()
            newVal = parseFloat(oldVal) + 1;
            qtyInput.val(newVal);
        });

        buttonDown.on('click', function() {
            qtyInput = $('.decrement-qty').parent().next().children();
            oldVal = qtyInput.val();

            if (oldVal > 0) {
            newVal = parseFloat(oldVal) - 1;

            } else {

            newVal = 0;
            }

            qtyInput.val(newVal);
        });
    });
</script>
{% endblock %}