{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="section">
        <div class="container page-header">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="section about-section">
    <div class="container container-full-width">
        <div class="row">
            <div class="center-align">
                <hr class="hr-text" style="margin:auto"> <!-- inline CSS styling-->
                <h3 class="">Products</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="col s6 push-s3">
                    <ul class="collapsible collapsible-menu" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active transparent">
                                <div class="col s12">
                                    <strong>Collections</strong>
                                    <span class="icon right">
                                        <i class="fas fa-caret-down"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="collection">
                                            {% for collection in collections %}
                                                <a href="{% url 'products' %}?collection={{ collection.name }}" class="collection-item">{{ collection.friendly_name }}</a>
                                            {% endfor %}
                                            <a href="{% url 'products' %}?collection=coffee_beans,accessories,brewers,memberships" class="collection-item">All Products</a>
                                        </div>      
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12">
                <div class="col s6 push-s3">
                    <div class="input-field col s12">
                        <select id="sort-selector">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="collection_asc" {% if current_sorting == 'collection_asc' %}selected{% endif %}>Collection (A-Z)</option>
                            <option value="collection_desc" {% if current_sorting == 'collection' %}selected{% endif %}>Collection (Z-A)</option>
                        </select>
                        <label>Sorting</label>
                      </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row cards-container-sml hide-on-med-and-up">
            <div class="col s12">
                {% for product in products %}
                    <div class="card product-card">
                        <div class="card-image product-image">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                        <a class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="top" data-tooltip="Add to Wish List"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="card-content center-align">
                            <p class="product-name"><strong>{{ product.card_name }}</strong></p>
                            <p class="decimal">€{{ product.price }}</p>
                            {% if product.collection %}
                                <div class="collection-output">
                                    <a href="{% url 'products' %}?collection={{ product.collection.name }}" class="chip">
                                        <span class="icon">
                                            <i class="fas fa-tag prefix"></i>
                                        </span>
                                        {{ product.collection.friendly_name }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="divider"></div>
                {% endfor %}
            </div>
        </div>
        <div class="row hide-on-small-only">
            <div class="col s12">
                <div class="row">
                    {% for product in products %}
                        <div class="col m6 l4 xl3">
                            <div class="card product-card">
                                <div class="card-image product-image">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                    {% endif %}
                                <a class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="top" data-tooltip="Add to Wish List"><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="card-content center-align">
                                    <p class="product-name"><strong>{{ product.card_name }}</strong></p>
                                    <p class="decimal">€{{ product.price }}</p>
                                    {% if product.collection %}
                                        <div class="collection-output">
                                            <a href="{% url 'products' %}?collection={{ product.collection.name }}" class="chip">
                                                <span class="icon">
                                                    <i class="fas fa-tag prefix"></i>
                                                </span>
                                                {{ product.collection.friendly_name }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- Delete after use -->
                        <div class="divider"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Scroll up button -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light deep-orange darken-1 scroll-button">
        <span class="icon">
            <i class="white-text fas fa-chevron-up"></i>
        </span>
    </a>
</div>
{% endblock %}


{% block page_footer %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.scroll-button').click(function(){
                $('html, body').animate({
                    scrollTop:0
                }, "slow");
                return false;
            })
            $('#sort-selector').change(function() {
                var selector = $(this)
                var currentUrl = new URL(window.location);

                var selectedVal = selector.val();
                if(selectedVal != 'reset'){
                    var sort = selectedVal.split("_")[0];
                    var direction = selectedVal.split("_")[1];

                    currentUrl.searchParams.set('sort', sort);
                    currentUrl.searchParams.set('direction', direction);

                    window.location.replace(currentUrl);
                } else {
                    currentUrl.searchParams.delete('sort');
                    currentUrl.searchParams.delete('direction');
                    
                    window.location.replace(currentUrl);
                }
            })
        })

    </script>
{% endblock %}